@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --green: #b9ff66;
  --black: #000000;
  --white: #ffffff;
  --grey: #f3f3f3;
  --dark: #191a23;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

/*Typography*/
h1 {
  font-size: 43px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

li {
  font-size: 20px;
  font-weight: 400;
}
.acc-index{
  font-size: 35px ;

}
.acc-title{
  font-size: 20px;
}

@media (min-width: 768px) {
  h1, .acc-index {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3,.acc-title {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
    line-height: normal;
  }
}

.btn {
  width: 100%;
  background-color: #191a23;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.btn:hover {
  background-color: #41445a;
}

@media (min-width: 768px) {
  .btn{
    width: 230px;
  }
}

/*special styles*/
.sponsor-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.card {
  border: 1px solid var(--black);
  -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 1);
}

