---
import SectionTitle from "./section-title.astro";
import LearnMore from "./learn-more.astro";
---

<SectionTitle title="Case Studies">
  Explore Real-Life Examples of Our Proven Digital Marketing
  <br />Success through Our Case Studies
</SectionTitle>
<div
  class="w-11/12 grid grid-cols-1 md:grid-cols-3 bg-dark p-10 md:p-16 m-auto gap-10 rounded-3xl mb-10"
>
  <div class="md:border-r-2 md:border-r-white">
    <p class="text-white md:w-10/12">
      For a local restaurant, we implemented a targeted PPC campaign that
      resulted in a 50% increase in website traffic and a 25% increase in sales.
    </p>
    <LearnMore />
  </div>
  <div class="md:border-r-2 md:border-r-white">
    <p class="text-white md:w-10/12">
      For a B2B software company, we developed an SEO strategy that resulted in
      a first page ranking for key keywords and a 200% increase in organic
      traffic.
    </p>
    <LearnMore />
  </div>
  <div>
    <p class="text-white md:w-10/12">
      For a national retail chain, we created a social media marketing campaign
      that increased followers by 25% and generated a 20% increase in online
      sales.
    </p>
    <LearnMore />
  </div>
</div>
