---
import { Image } from "astro:assets";
import contact from "../../public/assets/images/contact-img.png";
---

<div class="w-11/12 bg-grey rounded-3xl p-4 md:p-8 m-auto flex justify-center md:justify-between relative">
  <div class="left-section flex flex-col p-5 h-full w-full md:w-1/2 md:ml-16">
    <div class="flex items-center">
      <input class="mr-2 toggle-radio" type="radio" id="hi" name="contact">
      <label class="mr-7" for="hi">Say Hi</label>
      <input class="mr-2 toggle-radio" type="radio" id="quote" name="contact">
      <label for="quote">Get a Quote</label>
    </div>
    <div class="flex flex-col mt-10">
      <label for="name">Name</label>
      <input class="p-3 rounded-xl border border-black focus:border-green focus:border-2" type="text" id="name" placeholder="Name">
    </div>
    <div class="flex flex-col my-5">
      <label for="email">Email*</label>
      <input class="p-3 rounded-xl border border-black focus:border-green focus:border-2" type="email" id="email" placeholder="Email">
    </div>
    <div class="flex flex-col">
      <label for="message">Message*</label>
      <textarea class="p-3 h-64 rounded-xl border border-black focus:border-green focus:border-2" id="message" placeholder="Message"></textarea>
    </div>
    <button class="btn contact-btn mt-5">Send Message</button>
  </div>
  <div>
    <Image src={contact} alt="contact image" class="absolute right-0 hidden md:block"/>
  </div>
</div>





