<div
  class="w-full md:w-11/12 md:m-auto text-white bg-dark px-7 py-12 md:px-16 rounded-t-3xl"
>
  <div class="border-b-2 border-b-hovergrey relative">
    <div class="flex flex-col md:flex-row justify-between items-center mb-12">
      <img
        src="/assets/icons/full-logo.png"
        alt="Full Logo"
        class="invert w-44 mb-5 md:mb-0 md:w-fit"
      />
      <ul
        class="flex flex-col justify-center md:flex-row md:justify-around items-center w-full md:w-2/5"
      >
        <li
          class="underline cursor-pointer my-2 md:my-0 hover:text-hovergrey w-full md:w-fit text-center"
        >
          About us
        </li>
        <li
          class="underline cursor-pointer my-2 md:my-0 hover:text-hovergrey w-full md:w-fit text-center"
        >
          Services
        </li>
        <li
          class="underline cursor-pointer my-2 md:my-0 hover:text-hovergrey w-full md:w-fit text-center"
        >
          Use Cases
        </li>
        <li
          class="underline cursor-pointer my-2 md:my-0 hover:text-hovergrey w-full md:w-fit text-center"
        >
          Pricing
        </li>
        <li
          class="underline cursor-pointer my-2 md:my-0 hover:text-hovergrey w-full md:w-fit text-center"
        >
          Blog
        </li>
      </ul>
      <div class="absolute bottom-9 flex md:static">
        <img
          src="/assets/icons/linkedin.png"
          alt="linkedin"
          class="w-8 mr-5 cursor-pointer"
        />
        <img
          src="/assets/icons/facebook.png"
          alt="facebook"
          class="w-8 mr-5 cursor-pointer"
        />
        <img
          src="/assets/icons/twitter.png"
          alt="twitter"
          class="w-8 cursor-pointer"
        />
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between">
      <div class="text-center md:text-left">
        <h4
          class="bg-green text-black w-fit px-3 rounded-lg mb-5 mx-auto md:mx-0"
        >
          Contact us:
        </h4>
        <p class="mb-5">Email: info@positivus.com</p>
        <p class="mb-5">Phone: 555-567-8901</p>
        <p class="mb-10">
          Address: 1234 Main St <br />
           Moonstone City, Stardust State 12345
        </p>
      </div>
      <div class="flex flex-col md:flex-row items-center w-full md:w-1/2">
        <input
          type="email"
          placeholder="Email"
          class="bg-dark border-white text-white rounded-xl p-4 mb-7 md:mb-0"
        />
        <button
          class="rounded-2x bg-green px-10 py-4 text-black rounded-xl mb-24 md:mb-0 md:ml-5 hover:bg-hovergreen"
          >Subscribe to news</button
        >
      </div>
    </div>
  </div>
  <div
    class="copyright flex flex-col md:flex-row mt-12 text-center md:text-left"
  >
    <p>© 2024 Positivus. All Rights Reserved.</p>
    <p class="underline cursor-pointer mt-5 md:mt-0 md:ml-12">Privacy Policy</p>
  </div>
</div>
