<div class="grid grid-cols-2 md:grid-cols-6 w-11/12 m-auto my-12">
  <img src="/assets/sponsors/sponsor1.png" class="sponsor-img m-auto">
  <img src="/assets/sponsors/sponsor2.png" class="sponsor-img m-auto">
  <img src="/assets/sponsors/sponsor3.png" class="sponsor-img m-auto">
  <img src="/assets/sponsors/sponsor4.png" class="sponsor-img m-auto">
  <img src="/assets/sponsors/sponsor5.png" class="sponsor-img m-auto">
  <img src="/assets/sponsors/sponsor6.png" class="sponsor-img m-auto">
</div>